services:
  mongo_db:
    image: mongo:6
    container_name: mongo_db
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    container_name: node_server
    ports:
      - "5000:5000"
    depends_on:
      - mongo_db

  client:
    build: ./client
    container_name: react_client
    ports:
      - "3001:3000"
    depends_on:
      - server

volumes:
  mongo_data:
